body {
  font-family: 'Open Sans', sans-serif;
  color: #E5E9F0;
  background-color:#3B4252;
}

h1, h2, h3 {
  font-family: 'Rubik', sans-serif;
  color:#ECEFF4;
}

a {
  color: #88C0D0;
}

strong {
  font-style: italic;
  text-decoration: underline;
}

a {
  text-decoration: none;
}

.skill-highlight {
  font-size: 1.1em;
}