body {
  margin-left: 0;
  font-family: 'Open Sans', sans-serif;
  color: #E5E9F0;
  background-color:#3B4252;
}

h1, h2, h3 {
  font-family: 'Rubik', sans-serif;
  color:#ECEFF4;
  margin-top: 0;
}

a {
  color: #88C0D0;
}

strong {
  font-style: italic;
  text-decoration: underline;
}

a {
  text-decoration: none;
}

#nav-bar-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: #2E3440;
  text-align: center;
}

#nav-bar-container > ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  list-style: none;
}

#nav-bar-container > ul > li {
  display: inline-block;
  margin-right: 30px; 
}

#nav-bar-container > ul > li:last-child {
  margin-right: 0px; 
}

#nav-bar-container > ul > li > a {
  color: #E5E9F0;
  font-weight: 700;
  text-transform: uppercase;
}

#site-container {
  width: 800px;
  margin: 90px auto;
}

#greeting {
  text-align: center;
}

.section {
  margin: 50px 0;
}

.section > div {
  display: inline-block;
  vertical-align: top;
}

#profile-picture-wrapper {
  width: 30%;
  padding-top: 30%;
  background-image: url("assets/img/renatosbispo.jpg");
  background-size: cover;
  border-radius: 50%
}

#about-me {
  margin-left: 20px;
  width: calc(69% - 20px);
}

.text-highlight {
  color: #88C0D0;
}

.skill-highlight {
  font-size: 1.1em;
}