.side {
  color: #26001b;
  height: 100vh;
}

.left-side {
  background-color: #a7c5eb;
  padding: 10%;
}

.right-side {
  background-color: #949cdf;
}

.left-side h1 {
  font-size: 1.8rem;
  line-height: 1.5;
}

.hey {
  font-size: 2.4rem;
  font-weight: 700;
}

.chocolate-container {
  position: relative;
  box-sizing: content-box;
  height: 80vh;
  width: 240px;
  background-color: #f6ecf0;
  border: 10px outset saddlebrown;
}

.chocolate-pieces-container {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: inset 0px 0px 5px 1px #636363;
}

.chocolate-piece {
  width: 60px;
  height: 20vh;
  background-color: saddlebrown;
  border: 2px outset rgb(109, 50, 8);
  z-index: 99999;
}

.eaten {
  background-color: transparent;
  border-width: 0;
}

.secret-message {
  padding: 20px;
  font-size: 0.82em;
}

.tip {
  font-size: 1.2rem;
  line-height: 1;
  font-weight: 400;
}